Repository cisagov/XFD, pull requests merged in 2024-03, with the labels that each got.

#71 Fix frontend API policy
  frontend/serverless.yml
Labels: bug

#83 Update User list functionality and design in Users.tsx
  frontend/src/components/OrganizationList/OrganizationList.tsx
  frontend/src/pages/Users/Users.tsx
Labels: frontend

#102 UI: Spell check Crossfeed's pages
  frontend/src/components/DomainDetails.tsx
Labels: frontend

#99 Modify Header.tsx to include conditional nav items for regionalAdmin User Type
  frontend/src/components/Header.tsx
Labels: frontend

#114 Clean up region state mapping in backend
  backend/src/api/helpers.ts
  backend/src/api/organizations.ts
  backend/src/api/users.ts
Labels: backend

#110 Create mini datalake database
  .github/workflows/backend.yml
  backend/env.yml
  backend/package.json
  backend/src/models/connection.ts
  backend/src/models/index.ts
  backend/src/models/mini_data_lake/cert_scans.ts
  backend/src/models/mini_data_lake/cidrs.ts
  backend/src/models/mini_data_lake/contacts.ts
  backend/src/models/mini_data_lake/cpes.ts
  backend/src/models/mini_data_lake/cves.ts
  backend/src/models/mini_data_lake/domains.ts
  backend/src/models/mini_data_lake/host_scans.ts
  backend/src/models/mini_data_lake/hosts.ts
  backend/src/models/mini_data_lake/ips.ts
  backend/src/models/mini_data_lake/kevs.ts
  backend/src/models/mini_data_lake/locations.ts
  backend/src/models/mini_data_lake/organizations.ts
  backend/src/models/mini_data_lake/port_scans.ts
  backend/src/models/mini_data_lake/precert_scans.ts
  backend/src/models/mini_data_lake/reports.ts
  backend/src/models/mini_data_lake/requests.ts
  backend/src/models/mini_data_lake/sectors.ts
  backend/src/models/mini_data_lake/snapshots.ts
  backend/src/models/mini_data_lake/sslyze_scan.ts
  backend/src/models/mini_data_lake/tag.ts
  backend/src/models/mini_data_lake/tallies.ts
  backend/src/models/mini_data_lake/ticket_events.ts
  backend/src/models/mini_data_lake/tickets.ts
  backend/src/models/mini_data_lake/trustymail_scans.ts
  backend/src/models/mini_data_lake/vuln_scans.ts
  backend/src/tasks/ecs-client.ts
  backend/src/tasks/functions.yml
  backend/src/tasks/scanExecution.ts
  backend/src/tasks/syncmdl.ts
  backend/src/tools/run-syncmdl.ts
  dev.env.example
Labels: improvement

#68 Clean up P&E's SQS process
  backend/env.yml
  backend/package.json
  backend/sendMessage.js
  backend/serverless.yml
  backend/src/tasks/ecs-client.ts
  backend/src/tasks/functions.yml
  backend/src/tasks/scanExecution.ts
  backend/src/tools/consumeControlQueue.ts
  backend/src/tools/run-scanExecution.ts
  dev.env.example
  docs/src/documentation-pages/dev/quickstart.md
  infrastructure/database.tf
  infrastructure/pe.tf
  infrastructure/pe_worker.tf
  infrastructure/prod.tfvars
  infrastructure/stage.tfvars
  infrastructure/vars.tf
Labels: backend

#78 Fix UI Header Response to Browser and Crossfeed Logo Routing
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/NavItem.tsx
  frontend/src/components/OrganizationList/OrganizationList.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/searchBar.spec.tsx.snap
  frontend/src/components/__tests__/header.spec.tsx
  frontend/src/pages/Users/Users.tsx
Labels: frontend
