Repository cisagov/XFD, pull requests merged in 2024-04, with the labels that each got.

#126 Add Playwright to XFD
  .github/workflows/playwright.yml
  playwright/.gitignore
  playwright/e2e/global-admin/home.spec.ts
  playwright/e2e/global-admin/inventory.spec.ts
  playwright/e2e/global-admin/vulnerabilities.spec.ts
  playwright/global-setup.ts
  playwright/package-lock.json
  playwright/package.json
  playwright/playwright.config.ts
  playwright/tests-examples/demo-todo-app.spec.ts
  playwright/tests/example.spec.ts
Labels: test, frontend

#160 Updated ReadySetCyber Footer
  frontend/src/components/Layout.tsx
  frontend/src/components/ReadySetCyber/RSCFooter.tsx
  frontend/src/components/ReadySetCyber/assets/cisa_footer_logo.png
  frontend/src/components/ReadySetCyber/links.ts
Labels: frontend, readysetcyber

#159 Create rscSync to Pull Assessments from RSC Mission Instance
  backend/env.yml
  backend/src/api/scans.ts
  backend/src/api/users.ts
  backend/src/models/assessment.ts
  backend/src/models/category.ts
  backend/src/models/question.ts
  backend/src/tasks/ecs-client.ts
  backend/src/tasks/helpers/populateRscQuestions.sql
  backend/src/tasks/rscSync.ts
  backend/src/tasks/sample_data/assessments.json
  backend/src/worker.ts
  dev.env.example
Labels: backend, readysetcyber

#109 Amended backend/dockerfile to fix node-gyp error during npm start on Apple Silicon powered Macs
  backend/Dockerfile
Labels: bug, docker

#191 Update ReadySetCyber Dashboard Footer
  frontend/src/components/ReadySetCyber/RSCFooter.tsx
  frontend/src/components/ReadySetCyber/links.ts
Labels: frontend, readysetcyber

#183 Filter Resources on RSC Dashboard Details Page
  frontend/src/components/ReadySetCyber/RSCQuestion.tsx
  frontend/src/components/ReadySetCyber/components/IconType.tsx
  frontend/src/components/ReadySetCyber/components/index.ts
  frontend/src/components/ReadySetCyber/helpers/filterResources.ts
  frontend/src/components/ReadySetCyber/helpers/index.ts
Labels: frontend, readysetcyber

#186 Update RSC Dashboard Navigation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ReadySetCyber/FloatingNav.tsx
  frontend/src/components/ReadySetCyber/RSCAccordionNav.tsx
  frontend/src/components/ReadySetCyber/RSCDashboard.tsx
  frontend/src/components/ReadySetCyber/RSCDefaultSideNav.tsx
  frontend/src/components/ReadySetCyber/RSCDetail.tsx
  frontend/src/components/ReadySetCyber/RSCHeader.tsx
  frontend/src/components/ReadySetCyber/RSCNavItem.tsx
  frontend/src/components/ReadySetCyber/RSCQuestion.tsx
  frontend/src/components/ReadySetCyber/RSCSideNav.tsx
  frontend/src/components/ReadySetCyber/ScrollTop.tsx
  package-lock.json
  package.json
Labels: frontend, readysetcyber

#204 Re-route ReadySetCyber User from XFD access
  frontend/src/components/RouteGuard.tsx
  frontend/src/types/user.ts
Labels: improvement, frontend, readysetcyber

#199 RSC Next Steps Component
  frontend/src/components/ReadySetCyber/RSCDetail.tsx
  frontend/src/components/ReadySetCyber/RSCNextSteps.tsx
  frontend/src/components/ReadySetCyber/assets/contact_icon.svg
  frontend/src/components/ReadySetCyber/assets/enroll_icon.svg
  frontend/src/components/ReadySetCyber/assets/sign_up_icon.svg
  frontend/src/components/ReadySetCyber/icons/ContactIcon.js
  frontend/src/components/ReadySetCyber/icons/EnrollIcon.js
Labels: frontend, readysetcyber

#209 Fix RSC Side Nav hash-links
  frontend/src/components/ReadySetCyber/FloatingNav.tsx
  frontend/src/components/ReadySetCyber/RSCNavItem.tsx
Labels: improvement, frontend, readysetcyber

#200 Added No Assessment Boolean to RSC Dashboard
  frontend/src/components/ReadySetCyber/RSCDashboard.tsx
  frontend/src/components/ReadySetCyber/RSCDefaultSideNav.tsx
Labels: frontend, readysetcyber
