Repository cisagov/XFD, pull requests merged in 2024-08, with the labels that each got.

#513 Add usertype based permissions to the user registration dashboard
  frontend/src/pages/RegionUsers/RegionUsers.tsx
Labels: frontend

#493 Edited Top Vulnerable Domains tooltip (CRASM-527)
  frontend/src/pages/Risk/TopVulnerableDomains.tsx
Labels: frontend

#505 Add tooltip to Severity Levels bar graph in Overview (CRASM-526)
  frontend/src/pages/Risk/VulnerabilityBarChart.tsx
Labels: frontend

#510 Fix Error Message Displayed on the Manage Organizations Page (Global View role)
  backend/src/api/organizations.ts
Labels: bug, frontend

#504 All unable to load notifications (All Domains, All Vulnerabilities, Organizations, Users)-CRASM-493
  frontend/src/components/OrganizationList/OrganizationList.tsx
  frontend/src/pages/Domains/Domains.tsx
  frontend/src/pages/Organizations/Organizations.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: bug, frontend

#525 Update user form to include organization selection
  frontend/src/constants/constants.ts
  frontend/src/pages/Users/UserForm.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/types/user.ts
Labels: frontend

#527 Change email references to Crossfeed to CyHy Dashboard
  backend/src/api/users.ts
Labels: bug, backend

#538 Fix docker-compose - Depecrated
  .github/workflows/backend.yml
  backend/package.json
  build.sh
  package.json
  rebuild.sh
  setup-matomo.sh
Labels: backend

#532 Add permissions to EC2 to describe running Fargates
  infrastructure/database.tf
Labels: backend

#534 Fix and update organization form with validation, confirmation, and tag selection
  frontend/src/components/OrganizationForm/OrganizationForm.tsx
  frontend/src/components/OrganizationList/OrganizationList.tsx
Labels: frontend

#535 Fix Filters for Domain and Vulnerability List Not Working
  backend/src/api/domains.ts
  backend/src/api/vulnerabilities.ts
  frontend/src/pages/Domains/Domains.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: bug, frontend

#526 Organization and Region rollup in Dashboard and Inventory
  backend/src/api/app.ts
  backend/src/api/domains.ts
  backend/src/api/organizationSearch.ts
  backend/src/api/regions.ts
  backend/src/api/search.ts
  backend/src/api/search/buildRequest.ts
  backend/src/api/search/buildRequestFilter.ts
  backend/src/api/stats.ts
  backend/src/tasks/es-client.ts
  backend/src/tasks/search-sync-domains.ts
  backend/src/tasks/search-sync-orgs.ts
  backend/src/tasks/syncdb.ts
  backend/src/tasks/test/search-sync.test.ts
  backend/src/worker.ts
  backend/test/__snapshots__/search.test.ts.snap
  backend/test/__snapshots__/stats.test.ts.snap
  backend/test/stats.test.ts
  frontend/src/App.tsx
  frontend/src/components/DrawerInterior.tsx
  frontend/src/components/FilterDrawerV2.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/OrganizationSearch.tsx
  frontend/src/components/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
  frontend/src/components/__tests__/layout.spec.tsx
  frontend/src/context/AuthContext.ts
  frontend/src/context/SearchProvider/SearchProvider.tsx
  frontend/src/context/StaticsContext.ts
  frontend/src/context/StaticsContextProvider.tsx
  frontend/src/context/Theme.tsx
  frontend/src/hooks/useUserActivityTimeout.ts
  frontend/src/hooks/useUserLevel.ts
  frontend/src/hooks/useUserTypeFilters.ts
  frontend/src/pages/Risk/Risk.tsx
  frontend/src/pages/Risk/TopVulnerableDomains.tsx
  frontend/src/pages/Risk/VulnerabilityCard.tsx
  frontend/src/pages/Risk/style.ts
  frontend/src/pages/Search/Dashboard.tsx
  frontend/src/pages/Search/FilterTags.tsx
  frontend/src/pages/Search/SortBar.tsx
  frontend/src/pages/Search/Styling/dashboardStyle.ts
  frontend/src/pages/Search/Styling/sortBarStyle.ts
  frontend/src/utils/debounce.ts
  frontend/src/utils/matchPath.ts
Labels: frontend

#558 Fix Severity Rating Selection from Overview Bar Chart
  frontend/src/components/Table/Table.tsx
  frontend/src/hooks/useDomainApi.ts
  frontend/src/pages/Domains/Domains.tsx
  frontend/src/pages/Risk/TopVulnerableDomains.tsx
  frontend/src/pages/Risk/TopVulnerablePorts.tsx
  frontend/src/pages/Risk/VulnerabilityBarChart.tsx
  frontend/src/pages/Scans/ScanTasksView.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
  frontend/src/types/index.ts
  frontend/src/types/org-query.ts
  frontend/src/types/query.ts
Labels: bug, frontend
