Repository cisagov/XFD, pull requests merged in 2024-06, with the labels that each got.

#260 Resolved non-unique key error in Definition List
  frontend/src/components/DefinitionList.tsx
Labels: bug, frontend

#335 Add 508 Compliance Warning to all Pages
  backend/src/api/app.ts
  backend/src/api/notifications.ts
  backend/src/tasks/s3-client.ts
  frontend/src/components/Layout.tsx
Labels: backend, frontend

#337 Fixed sort arrow accessibility in Inventory
  frontend/src/pages/Search/SortBar.tsx
Labels: frontend, 508 Compliance

#291 261 UI: Update All Domains & All Vulnerabilities Tables
  backend/src/api/domains.ts
  frontend/src/hooks/useDomainApi.ts
  frontend/src/pages/Domains/Domains.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: frontend

#334 Add logic to update missing user state and region values
  backend/src/api/users.ts
  frontend/src/components/Register/UpdateUserStateForm.tsx
  frontend/src/components/Register/index.ts
  frontend/src/pages/Risk/Risk.tsx
Labels: backend, frontend

#352 Updated ScansView table to MUI Data Grid
  frontend/src/components/ScanForm/ScanForm.tsx
  frontend/src/pages/Scans/ScansView.tsx
Labels: frontend, 508 Compliance

#346 Add Xpanse data and update Vulnerability Details page with sections based on source or CVE
  backend/src/api/scans.ts
  backend/src/tasks/xpanse-sync.ts
  backend/src/worker.ts
  frontend/src/pages/Vulnerability/CveSection.tsx
  frontend/src/pages/Vulnerability/Vulnerability.tsx
  frontend/src/pages/Vulnerability/XpanseSection.tsx
Labels: backend, frontend

#357 Accessibility Features for Top Vulnerable Ports Bar Chart
  frontend/src/pages/Risk/TopVulnerablePorts.tsx
Labels: frontend

#364 343 UI Update Admin Tools Scan History table
  backend/src/api/scan-tasks.ts
  frontend/src/pages/Scans/ScanTasksView.tsx
Labels: frontend, 508 Compliance

#373 Accessibility Features for Top Vulnerable Domains Bar Chart
  frontend/src/pages/Risk/TopVulnerableDomains.tsx
Labels: frontend

#367 Converted "See All" links on Overview page
  frontend/src/pages/Risk/TopVulnerableDomains.tsx
  frontend/src/pages/Risk/VulnerabilityCard.tsx
  frontend/src/pages/Risk/style.ts
Labels: frontend, 508 Compliance

#375 Increased contrast of Labels on Result Card
  frontend/src/pages/Search/Styling/resultCardStyle.ts
Labels: frontend, 508 Compliance

#374 Increased contrast of Save Search in Search Results
  frontend/src/pages/Search/Styling/sortBarStyle.ts
Labels: frontend, 508 Compliance

#381 Increased contrast ratio of Filters Applied component in Inventory
  frontend/src/pages/Search/Styling/filterDrawerStyle.ts
Labels: frontend, 508 Compliance

#379 Increased contrast ratio of Inventory Sub Nav
  frontend/src/components/Subnav.tsx
Labels: frontend, 508 Compliance

#380 Add descriptions to all icons in the Admin Tools Notifications page
  frontend/src/pages/Notifications/Notifications.tsx
Labels: 508 Compliance

#355 Add static 508 banner text for local dev builds and cleanup logging
  backend/src/api/app.ts
  backend/src/api/auth.ts
  backend/src/api/helpers.ts
  backend/src/api/notifications.ts
Labels: backend

#341 Add fixes for minio and redirect s3 client to minio for local dev
  backend/src/tasks/s3-client.ts
  docker-compose.yml
Labels: docker, backend
