Repository cisagov/XFD, pull requests merged in 2024-05, with the labels that each got.

#219 217 Fix Alignment of SideNav & Question Components
  frontend/src/components/ReadySetCyber/RSCDetail.tsx
Labels: frontend, readysetcyber

#218 215 Reformat the displayed Name & Date on Result Card
  frontend/src/components/ReadySetCyber/RSCResult.tsx
Labels: frontend, readysetcyber

#230 220 Extend RSC Service Now Styling to RSC Dashboard
  frontend/src/components/ReadySetCyber/RSCDetail.tsx
  frontend/src/components/ReadySetCyber/RSCQuestion.tsx
Labels: frontend, readysetcyber

#236 Fix environment variable for Playwright in Github Actions.
  .github/workflows/playwright.yml
Labels: bug, github_actions

#246 Fix Playwright Tests in Github Actions
  .github/workflows/playwright.yml
Labels: bug, github_actions

#245 231 Re-enable/expand Focus Outline for Keyboard Nav
  frontend/src/components/ReadySetCyber/RSCDefaultSideNav.tsx
  frontend/src/components/ReadySetCyber/RSCHeader.tsx
  frontend/src/components/ReadySetCyber/RSCNavItem.tsx
  frontend/src/components/ReadySetCyber/RSCQuestion.tsx
  frontend/src/components/ReadySetCyber/RSCResult.tsx
  frontend/src/components/ReadySetCyber/RSCSideNav.tsx
Labels: frontend, readysetcyber

#148 100 UI admin site maintenance notifications
  backend/src/api/app.ts
  backend/src/api/auth.ts
  backend/src/api/helpers.ts
  backend/src/api/notifications.ts
  backend/src/api/users.ts
  backend/src/models/connection.ts
  backend/src/models/index.ts
  backend/src/models/notification.ts
  backend/src/models/user.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Dialog/InfoDialog.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/RouteGuard.tsx
  frontend/src/components/ScanForm/ScanForm.tsx
  frontend/src/pages/AdminTools/AdminTools.tsx
  frontend/src/pages/AuthLogin/AuthLogin.tsx
  frontend/src/pages/Notifications/Notifications.tsx
  frontend/src/pages/Notifications/index.ts
  frontend/src/pages/Scans/ScansView.tsx
  frontend/src/pages/Scans/index.ts
  frontend/src/pages/index.ts
  frontend/src/types/index.ts
  frontend/src/types/notification.ts
  frontend/src/types/user.ts
  frontend/src/utils/dateUtils.ts
Labels: backend, frontend

#256 Fix CSV Not Displayed on User Import
  frontend/src/components/ImportExport/ImportExport.tsx
Labels: bug, frontend

#277 Change label/placeholder from Username to Email on /registration page.
  frontend/src/pages/AuthLogin/AuthLoginCreate.tsx
Labels: frontend

#244 Parameterize and Update CORS and CSP
  backend/env.yml
  backend/src/api/app.ts
  dev.env.example
  frontend/scripts/api.js
  frontend/scripts/constants.js
  frontend/scripts/docs.js
Labels: frontend

#283 Update RouteGuard permissions to include regionalAdmin for applicable endpoints.
  frontend/src/App.tsx
Labels: frontend

#295 Add staging urls to CORS and CSP in backend/src/api/app.ts.
  backend/src/api/app.ts
Labels: backend, frontend

#290 Add FRONTEND_DOMAIN environment variable to Registration Approved email template
  backend/src/api/helpers.ts
Labels: bug, backend

#282 Okta initial integrations
  backend/src/api/app.ts
  backend/src/api/auth.ts
  backend/src/models/user.ts
  dev.env.example
  frontend/src/App.tsx
  frontend/src/pages/AuthLogin/AuthLogin.tsx
  frontend/src/pages/OktaCallback/OktaCallback.tsx
  frontend/src/pages/OktaCallback/index.ts
  frontend/src/pages/index.ts
Labels: backend, frontend

#303 Update env vars for okta user pool information local/staging/prod
  dev.env.example
  frontend/prod.env
  frontend/stage.env
Labels: frontend

#304 Add okta logging to troubleshoot staging env.
  backend/src/api/app.ts
Labels: backend

#308 Add default new user region and state, update login button text, and Add "Invite pending" text for pending users.
  backend/src/api/app.ts
  frontend/src/pages/AuthLogin/AuthLogin.tsx
  frontend/src/pages/Risk/Risk.tsx
Labels: backend, frontend

#309 Restrict specific endpoints to only GlobalAdmin
  backend/src/api/app.ts
  backend/src/api/users.ts
Labels: backend

#311 Establish Okta as only login method
  frontend/src/App.tsx
  frontend/src/components/WarningBanner/Warning.tsx
  frontend/src/pages/AuthLogin/AuthLogin.tsx
  frontend/src/pages/AuthLogin/AuthLoginCreate.tsx
  frontend/src/pages/index.ts
Labels: frontend
