Repository cisagov/XFD, pull requests merged in 2024-10, with the labels that each got.

#647 Only display domains that are directly attributable to a cidr
  backend/src/api/domains.ts
  backend/src/api/scans.ts
  backend/src/api/stats.ts
  backend/src/api/vulnerabilities.ts
  backend/src/models/domain.ts
  backend/src/tasks/flagFloatingIps.ts
  backend/src/tasks/helpers/checkIpInCidr.ts
  backend/src/tasks/search-sync-domains.ts
  backend/src/worker.ts
Labels: backend

#658 Resolve issue with api-keys and logger
  backend/src/api/app.ts
  backend/src/tools/logger.ts
Labels: backend

#665 Dj hot fix 2
  backend/src/api/domains.ts
  backend/src/api/scans.ts
  backend/src/api/stats.ts
  backend/src/api/vulnerabilities.ts
  backend/src/models/domain.ts
  backend/src/tasks/flagFloatingIps.ts
  backend/src/tasks/helpers/checkIpInCidr.ts
  backend/src/tasks/search-sync-domains.ts
  backend/src/tasks/test/__snapshots__/censysCertificates.test.ts.snap
  backend/src/tasks/test/__snapshots__/censysIpv4.test.ts.snap
  backend/src/tasks/test/__snapshots__/lookingGlass.test.ts.snap
  backend/src/tasks/test/__snapshots__/search-sync.test.ts.snap
  backend/src/tasks/test/__snapshots__/shodan.test.ts.snap
  backend/src/tasks/test/censysCertificates.test.ts
  backend/src/tasks/test/censysIpv4.test.ts
  backend/src/tasks/test/cve.test.ts
  backend/src/tasks/test/dnstwist.test.ts
  backend/src/tasks/test/es-client.test.ts
  backend/src/tasks/test/findomain.test.ts
  backend/src/tasks/test/helpers/getAllDomains.test.ts
  backend/src/tasks/test/intrigue-ident.test.ts
  backend/src/tasks/test/lookingGlass.test.ts
  backend/src/tasks/test/search-sync.test.ts
  backend/src/tasks/test/shodan.test.ts
  backend/src/tasks/test/sslyze.test.ts
  backend/src/worker.ts
  backend/test/__snapshots__/stats.test.ts.snap
  backend/test/domains.test.ts
  backend/test/stats.test.ts
  backend/test/vulnerabilities.test.ts
Labels: backend

#670 Changed Text Alignment of Buttons in Orgs Autocomplete (CRASM-745)
  frontend/src/components/RegionAndOrganizationFilters.tsx
Labels: frontend

#668 Alphabetize organizations in the dropdown list in the User Form
  frontend/src/pages/Users/UserForm.tsx
Labels: frontend

#660 Resolve frontend concurrency findings (CRASM-733)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/ReadySetCyber/RSCFooter.tsx
  frontend/src/index.tsx
Labels: frontend

#649 Resolve frontend api abuse findings (CRASM-731)
  frontend/src/components/DomainDetails.tsx
  frontend/src/components/Table/Table.tsx
  frontend/src/pages/Domains/Domains.tsx
  frontend/src/pages/Organization/OrgSettings.tsx
  frontend/src/pages/Risk/Risk.tsx
  frontend/src/pages/Scans/ScanTasksView.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
  frontend/src/pages/Vulnerability/Vulnerability.tsx
  frontend/src/types/domain.ts
  frontend/src/types/index.ts
  frontend/src/types/stats.ts
  frontend/src/types/vulnerability.ts
  frontend/src/types/webpage.ts
Labels: frontend

#650 Resolve Frontend CSRF/Credentials Management Findings (CRASM-730, 732)
  frontend/src/App.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/ReadySetCyber/RSCAuthLoginCreate.tsx
  frontend/src/components/ReadySetCyber/RSCLogin.tsx
  frontend/src/components/ReadySetCyber/RSCQuestion.tsx
  frontend/src/components/ReadySetCyber/RSCRegisterForm.tsx
  frontend/src/components/ReadySetCyber/RSCregisterFormStyle.ts
  frontend/src/components/Subnav.tsx
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
Labels: security, frontend

#680 Added Alphabetical Sort to Org Search Rollup
  frontend/src/components/RegionAndOrganizationFilters.tsx
Labels: frontend

#682 Update datagrid tables with better displays and pagination
  frontend/src/components/Logs/Logs.tsx
  frontend/src/components/OrganizationList/OrganizationList.tsx
  frontend/src/pages/Domains/Domains.tsx
  frontend/src/pages/Organization/OrgMembers.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: frontend

#683 Fixed Vuln Status button in All Vulns table (CRASM-750)
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: bug, frontend

#694 Added Cache Control Headers (CRASM-667)
  backend/src/api/app.ts
  frontend/scripts/api.js
  frontend/scripts/docs.js
Labels: backend

#685 Replaced "info" icon in User Logs (CRASM-759)
  frontend/src/components/Logs/Logs.tsx
Labels: frontend

#688 Refactored Back to Results button in Domain/Vuln Details (CRASM-761)
  frontend/src/components/DomainDetails.tsx
  frontend/src/pages/Vulnerability/Vulnerability.tsx
Labels: frontend

#697 Edited Express Headers in api.js (CRASM-667)
  frontend/scripts/api.js
Labels: frontend

#699 Changed cache-control policy to no-cache (CRASM-667)
  frontend/scripts/api.js
Labels: frontend

#695 Added aria-live region to filter tags in Inventory (CRASM-793)
  frontend/src/pages/Risk/Risk.tsx
  frontend/src/pages/Search/FilterTags.tsx
Labels: frontend, 508 Compliance

#690 Refactored VulnerabilityBarChart to show severity level in the order of criticality (CRASM-783)
  frontend/src/pages/Risk/VulnerabilityBarChart.tsx
  frontend/src/pages/Risk/utils.ts
Labels: bug, frontend

#700 Edited Cache Control (CRASM-667)
  frontend/scripts/api.js
Labels: frontend

#702 Edited Last Logged In in RegionUsers (CRASM-805)
  frontend/src/pages/RegionUsers/RegionUsers.tsx
Labels: frontend

#703 Merge Domain and Vulnerability Search to AL-Python-Serverless
  backend/src/xfd_django/xfd_api/api_methods/domain.py
  backend/src/xfd_django/xfd_api/api_methods/vulnerability.py
  backend/src/xfd_django/xfd_api/helpers/filter_helpers.py
  backend/src/xfd_django/xfd_api/schema_models/domain.py
  backend/src/xfd_django/xfd_api/schema_models/vulnerability.py
  backend/src/xfd_django/xfd_api/views.py
Labels: backend

#704 Convert proxy endpoints into python
  backend/src/xfd_django/xfd_api/api_methods/organization.py
  backend/src/xfd_django/xfd_api/api_methods/proxy.py
  backend/src/xfd_django/xfd_api/api_methods/scan.py
  backend/src/xfd_django/xfd_api/api_methods/scan_tasks.py
  backend/src/xfd_django/xfd_api/auth.py
  backend/src/xfd_django/xfd_api/helpers/regionStateMap.py
  backend/src/xfd_django/xfd_api/models.py
  backend/src/xfd_django/xfd_api/schema_models/organization.py
  backend/src/xfd_django/xfd_api/schema_models/scan.py
  backend/src/xfd_django/xfd_api/schema_models/scan_tasks.py
  backend/src/xfd_django/xfd_api/tasks/ecs_client.py
  backend/src/xfd_django/xfd_api/tasks/scheduler.py
  backend/src/xfd_django/xfd_api/tests/test_organization.py
  backend/src/xfd_django/xfd_api/tests/test_proxy.py
  backend/src/xfd_django/xfd_api/tests/test_scan.py
  backend/src/xfd_django/xfd_api/tests/test_scan_task.py
  backend/src/xfd_django/xfd_api/views.py
  dev.env.example
Labels: backend

#708 Add Version Number to Footer (CRASM-821)
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
Labels: frontend

#711 Added Version Number to CyHy Logo Aria Label
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
Labels: frontend, 508 Compliance
