Repository cisagov/XFD, pull requests merged in 2024-07, with the labels that each got.

#353 Add basic accessibility features for describing pie chart image detai…
  frontend/src/pages/Risk/Risk.tsx
  frontend/src/pages/Risk/VulnerabilityPieChart.tsx
  frontend/src/pages/Risk/utils.ts
Labels: frontend

#385 Vulnerabilities table xpanse data getting cut off
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
  frontend/src/utils/dataTransformUtils.ts
Labels: bug, frontend

#403 Uninstall ip Node Module (Backend)
  backend/package-lock.json
  backend/package.json
Labels: backend

#407 Fix Backend DoS Vulnerability in Node Module 'ws'
  backend/Dockerfile
  backend/Dockerfile.worker
  backend/package-lock.json
  backend/package.json
  backend/src/tasks/helpers/__mocks__/simple-wappalyzer.ts
  backend/src/tasks/helpers/simple-wappalyzer.ts
  backend/src/tasks/helpers/technologies.json
  backend/src/tasks/helpers/technologies_backup.json
  backend/src/tasks/test/helpers/simple-wappalyzer.test.ts
  backend/src/tasks/test/wappalyzer.test.ts
  backend/src/tasks/wappalyzer.ts
  backend/src/worker.ts
Labels: backend

#426 Increased contrast of Most Common Ports graph (CRASM-384)
  frontend/src/pages/Risk/utils.ts
Labels: frontend, 508 Compliance

#424 Added link text to See All links on Overview pages (CRASM-383)
  frontend/src/pages/Risk/TopVulnerableDomains.tsx
  frontend/src/pages/Risk/VulnerabilityCard.tsx
Labels: frontend, 508 Compliance

#415 Resolved server side filtering bug in All Vulnerabilities table (CRASM-397)
  frontend/src/pages/Risk/VulnerabilityCard.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: frontend

#421 Changed User Registration "Region Admin" from "h4" to "h1"(CRASM-378)
  frontend/src/pages/RegionUsers/RegionUsers.tsx
Labels: frontend, 508 Compliance

#417 Update User Details Editing in Frontend for Global Admins
  frontend/src/pages/Users/Users.tsx
Labels: frontend

#384 Reenabled standard MUI Outline for Sort Bar buttons in Inventory section (CRASM-349)
  frontend/src/pages/Search/Styling/sortBarStyle.ts
Labels: frontend, 508 Compliance

#406 modified searchbar contrast for better visibility
  frontend/src/components/SearchBar.tsx
Labels: frontend, 508 Compliance

#434 Update aria label for details link in VulnerabilityCard.tsx
  frontend/src/pages/Risk/VulnerabilityCard.tsx
Labels: frontend, 508 Compliance

#418 Fixed server side filtering issue with All Domains table (CRASM-410)
  frontend/src/pages/Domains/Domains.tsx
Labels: bug, frontend

#435 Restored focus outline on Search Results card (CRASM-351)
  frontend/src/components/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/searchBar.spec.tsx.snap
  frontend/src/pages/Search/Styling/resultCardStyle.ts
Labels: frontend, 508 Compliance

#433 Inventory Page Export has No Visible Indication (CRASM-350)
  frontend/src/pages/Search/Dashboard.tsx
  frontend/src/pages/Search/Styling/dashboardStyle.ts
Labels: frontend, 508 Compliance

#400 383 UI 4d Overview Page Menu selection (CRASM-348)
  frontend/src/components/Header.tsx
  frontend/src/components/NavItem.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/components/__tests__/__snapshots__/header.spec.tsx.snap
Labels: frontend, 508 Compliance

#449 Resolved keyboard navigation of Responsive Bar graphs in Overview (CRASM-416)
  frontend/src/pages/Risk/TopVulnerableDomains.tsx
  frontend/src/pages/Risk/TopVulnerablePorts.tsx
  frontend/src/pages/Risk/utils.ts
Labels: frontend, 508 Compliance

#451 Add Skip to Main Content
  frontend/src/components/GovBanner.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/SkipToMainContent/SkipToMainContent.tsx
  frontend/src/components/SkipToMainContent/index.ts
  frontend/src/components/__tests__/__snapshots__/govBanner.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
Labels: bug, frontend, 508 Compliance

#440 Front page can resize to 200% and removes Most Common Services chart (CRASM-367)
  frontend/src/pages/Risk/Risk.module.scss
  frontend/src/pages/Risk/Risk.tsx
  frontend/src/pages/Risk/VSFindings.tsx
  frontend/src/pages/Risk/WASFindings.tsx
  frontend/src/pages/Risk/style.ts
  frontend/src/test-utils/stats.ts
  frontend/src/types/index.ts
  frontend/src/types/stats.ts
Labels: frontend, 508 Compliance

#450 Vulnerability: Frontend - ip
  frontend/package-lock.json
Labels: frontend

#448 Convert Pie Charts to Bar Charts
  frontend/src/pages/Risk/Risk.tsx
  frontend/src/pages/Risk/VulnerabilityBarChart.tsx
  frontend/src/pages/Risk/VulnerabilityPieChart.tsx
  frontend/src/pages/Risk/utils.ts
Labels: frontend

#414 Add AWS Elasticache
  infrastructure/elasticache.tf
  infrastructure/prod.tfvars
  infrastructure/stage.tfvars
  infrastructure/vars.tf
Labels: blocked, improvement, upstream update, terraform

#452 439 UI moved search from header to inventory filter CRASM-408
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/searchBar.spec.tsx.snap
  frontend/src/pages/Search/Dashboard.tsx
  frontend/src/pages/Search/FilterDrawer.tsx
Labels: frontend

#461 Updated Layout snapshot for PR #439
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
Labels: frontend

#492 Remove outer aria label in alerts in the Admin Tools page under Notifications
  frontend/src/pages/Notifications/Notifications.tsx
Labels: 508 Compliance

#480 Modified the last-logged-in feature to indicate accurate date and time. (CRASM-391)
  frontend/src/pages/Users/Users.tsx
Labels: bug, frontend

#489 Removed old Columns component from All Vulnerabilities (CRASM-514)
  frontend/src/pages/Vulnerabilities/columns.tsx
Labels: frontend

#486 Removed old Columns component from All Domains (CRASM-515)
  frontend/src/pages/Domains/columns.tsx
Labels: frontend

#482 Removed legacy unused CSS from Vulnerabilities (CRASM-512)
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
  frontend/src/pages/Vulnerabilities/styles.module.scss
  frontend/src/pages/Vulnerabilities/vulnerabilitiesStyle.ts
Labels: frontend

#484 Remove legacy unused CSS from Organizations (CRASM-513)
  frontend/src/components/OrganizationList/OrganizationList.tsx
  frontend/src/pages/Organizations/Organizations.module.scss
  frontend/src/pages/Organizations/Organizations.tsx
Labels: frontend

#487 Remove ability to add members to the members table in the Organization Details page
  frontend/src/pages/Organization/OrgMembers.tsx
  frontend/src/pages/Organization/Organization.tsx
Labels: frontend
