Repository cisagov/XFD, pull requests merged in 2024-11, with the labels that each got.

#721 Edited source of Version Number (CRASM-845)
  frontend/package.json
  frontend/src/components/Footer/Footer.tsx
Labels: frontend

#719 Remove ReadySetCyber from Python Backend.
  backend/src/xfd_django/xfd_api/models.py
  backend/src/xfd_django/xfd_api/schema_models/assessment.py
  backend/src/xfd_django/xfd_api/schema_models/category.py
  backend/src/xfd_django/xfd_api/schema_models/question.py
  backend/src/xfd_django/xfd_api/schema_models/resource.py
  backend/src/xfd_django/xfd_api/schema_models/response.py
  backend/src/xfd_django/xfd_api/schema_models/scan.py
  backend/src/xfd_django/xfd_api/views.py
Labels: backend

#714 Python Auth Updates
  backend/src/xfd_django/xfd_api/auth.py
Labels: backend

#725 Python api-keys Endpoint Bugfix
  backend/src/xfd_django/xfd_api/api_methods/api_key.py
  backend/src/xfd_django/xfd_api/schema_models/api_key.py
Labels: backend

#726 Replace production resources in AWS
  .github/workflows/infrastructure.yml
Labels: backend

#722 Sunset frontend code for ReadySetCyber (CRASM-807, 808, 809)
  docs/gatsby-config.js
  docs/src/documentation-pages/rsc/img/assessment.png
  docs/src/documentation-pages/rsc/img/click-details.png
  docs/src/documentation-pages/rsc/img/confirmation-code.png
  docs/src/documentation-pages/rsc/img/no-assessment.png
  docs/src/documentation-pages/rsc/img/register-email.png
  docs/src/documentation-pages/rsc/img/register-now.png
  docs/src/documentation-pages/rsc/img/register-request.png
  docs/src/documentation-pages/rsc/img/register.png
  docs/src/documentation-pages/rsc/img/resources.png
  docs/src/documentation-pages/rsc/img/rsc-create-account.png
  docs/src/documentation-pages/rsc/img/rsc-dashboard.png
  docs/src/documentation-pages/rsc/img/rsc-login.png
  docs/src/documentation-pages/rsc/img/side-nav.png
  docs/src/documentation-pages/rsc/img/sign-in.png
  docs/src/documentation-pages/rsc/img/terms.png
  docs/src/documentation-pages/rsc/user-guide.md
  frontend/scripts/api.js
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/ReadySetCyber/FloatingNav.tsx
  frontend/src/components/ReadySetCyber/RSCAccordionNav.tsx
  frontend/src/components/ReadySetCyber/RSCDashboard.tsx
  frontend/src/components/ReadySetCyber/RSCDefaultSideNav.tsx
  frontend/src/components/ReadySetCyber/RSCDetail.tsx
  frontend/src/components/ReadySetCyber/RSCFooter.tsx
  frontend/src/components/ReadySetCyber/RSCHeader.tsx
  frontend/src/components/ReadySetCyber/RSCLogin.tsx
  frontend/src/components/ReadySetCyber/RSCNavItem.tsx
  frontend/src/components/ReadySetCyber/RSCNextSteps.tsx
  frontend/src/components/ReadySetCyber/RSCQuestion.tsx
  frontend/src/components/ReadySetCyber/RSCResult.tsx
  frontend/src/components/ReadySetCyber/RSCSideNav.tsx
  frontend/src/components/ReadySetCyber/ScrollTop.tsx
  frontend/src/components/ReadySetCyber/assets/ReadySetCyberLogo.png
  frontend/src/components/ReadySetCyber/assets/cisa_footer_logo.png
  frontend/src/components/ReadySetCyber/assets/contact_icon.svg
  frontend/src/components/ReadySetCyber/assets/enroll_icon.svg
  frontend/src/components/ReadySetCyber/assets/sign_up_icon.svg
  frontend/src/components/ReadySetCyber/components/IconType.tsx
  frontend/src/components/ReadySetCyber/components/index.ts
  frontend/src/components/ReadySetCyber/dummyData.js
  frontend/src/components/ReadySetCyber/helpers/filterResources.ts
  frontend/src/components/ReadySetCyber/helpers/index.ts
  frontend/src/components/ReadySetCyber/icons/ContactIcon.js
  frontend/src/components/ReadySetCyber/icons/EnrollIcon.js
  frontend/src/components/ReadySetCyber/links.ts
  frontend/src/components/RouteGuard.tsx
  frontend/src/hooks/useUserLevel.ts
  frontend/src/types/user.ts
Labels: frontend, readysetcyber

#720 Added Severity Label validation to All Vulns table (CRASM-822)
  backend/src/api/vulnerabilities.ts
  frontend/src/components/RegionAndOrganizationFilters.tsx
  frontend/src/pages/Risk/VulnerabilityBarChart.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: backend, frontend

#730 Added NVD link to Vuln title in Vuln Details page (CRASM-627)
  frontend/src/pages/Vulnerability/Vulnerability.tsx
Labels: frontend

#729 Updated Saved Search Unit Tests, CRASM - 853
  backend/src/xfd_django/xfd_api/api_methods/saved_search.py
  backend/src/xfd_django/xfd_api/schema_models/saved_search.py
  backend/src/xfd_django/xfd_api/tests/test_saved_searches.py
  backend/src/xfd_django/xfd_api/views.py
Labels: python, backend
