Repository cisagov/XFD, pull requests merged in 2024-09, with the labels that each got.

#561 543 Refactor of Saved Search Accordion
  frontend/src/App.tsx
  frontend/src/components/DrawerInterior.tsx
  frontend/src/components/FilterDrawerV2.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/OrganizationSearch.tsx
  frontend/src/context/SavedSearchContext.ts
  frontend/src/context/SavedSearchContextProvider.tsx
  frontend/src/context/StaticsContextProvider.tsx
  frontend/src/pages/Search/Dashboard.tsx
  frontend/src/pages/Search/FilterTags.tsx
  frontend/src/pages/Search/SortBar.tsx
  frontend/src/pages/Search/Styling/filterTagsStyle.ts
  frontend/src/pages/Search/Styling/sortBarStyle.ts
Labels: frontend

#572 Update NVD image in Vulnerability Details
  frontend/src/assets/nvd.jpeg
  frontend/src/pages/Vulnerability/CveSection.tsx
Labels: frontend

#584 Remove default values to trigger state selection
  backend/src/api/app.ts
Labels: backend

#588 Update User Registration with update Org functionality for pending users
  frontend/src/pages/RegionUsers/RegionUsers.tsx
Labels: frontend

#591 Update Vulnerabilities table with missing values for the product column
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: frontend

#590 Restored Skip to Main Content functionality (CRASM-630)
  frontend/src/components/Layout.tsx
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
Labels: frontend

#603 Refactor Save search modal
  backend/src/api/saved-searches.ts
  backend/src/models/saved-search.ts
  backend/src/tasks/saved-search.ts
  backend/test/__snapshots__/saved-searches.test.ts.snap
  backend/test/saved-searches.test.ts
  frontend/src/components/DrawerInterior.tsx
  frontend/src/components/SaveSearchModal/SaveSearchModal.tsx
  frontend/src/context/SavedSearchContext.ts
  frontend/src/context/SavedSearchContextProvider.tsx
  frontend/src/pages/Search/Inventory.tsx
  frontend/src/pages/Search/SortBar.tsx
  frontend/src/types/saved-search.ts
Labels: improvement, frontend

#595 Remove console warnings and logs in browser
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/RouteGuard.tsx
  frontend/src/pages/Search/Inventory.tsx
  frontend/src/pages/Search/SortBar.tsx
Labels: frontend

#623 Edited Vulnerability Details (CRASM-628)
  frontend/src/pages/Vulnerability/Vulnerability.tsx
Labels: frontend

#622 Edited default placeholder text in Search Bar (CRASM-634)
  frontend/src/components/SearchBar.tsx
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/searchBar.spec.tsx.snap
Labels: frontend

#619 Create Confirmation Dialog for Admin Tools Scans
  frontend/src/pages/Scans/ScansView.tsx
Labels: improvement, frontend

#611 Resolved lack of scroll in VulnerabilityCard
  frontend/src/pages/Risk/VulnerabilityCard.tsx
  frontend/src/pages/Risk/style.ts
Labels: frontend

#609 Update the Organization Details tab with additional and working fields
  frontend/src/pages/Organization/OrgScanHistory.tsx
  frontend/src/pages/Organization/OrgSettings.tsx
  frontend/src/pages/Organization/Organization.tsx
  frontend/src/pages/Organization/style.ts
Labels: frontend

#644 Resolved Frontend Logging Findings (CRASM-729)
  frontend/src/components/ReadySetCyber/RSCRegisterForm.tsx
Labels: security, frontend

#637 Update nvd image in CveSection.tsx
  frontend/src/pages/Vulnerability/CveSection.tsx
Labels: frontend
