Repository cisagov/XFD, pull requests merged in 2025-01, with the labels that each got.

#752 Add Python Path and Django_setting_Module to env.yml
  backend/env.yml
Labels: backend

#761 Matomo
  backend/src/api/app.ts
  backend/src/xfd_django/xfd_api/views.py
  docker-compose.yml
  frontend/public/index.html
  infrastructure/matomo.tf
Labels: improvement, backend

#731 Added No Filter conditional to FilterChips (CRASM-803)
  frontend/src/pages/Search/FilterTags.tsx
Labels: frontend

#763 Resolve Frontend node_modules vulnerabilities (CRASM-1076)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Search/ResultCard.tsx
Labels: dependencies

#756 Replace all f-strings to use .format
  backend/scripts/populateCountiesCities/cities.py
  backend/scripts/populateCountiesCities/counties.py
  backend/src/xfd_django/xfd_api/api_methods/auth.py
  backend/src/xfd_django/xfd_api/api_methods/domain.py
  backend/src/xfd_django/xfd_api/api_methods/organization.py
  backend/src/xfd_django/xfd_api/api_methods/proxy.py
  backend/src/xfd_django/xfd_api/api_methods/saved_search.py
  backend/src/xfd_django/xfd_api/api_methods/scan.py
  backend/src/xfd_django/xfd_api/api_methods/scan_tasks.py
  backend/src/xfd_django/xfd_api/api_methods/search.py
  backend/src/xfd_django/xfd_api/api_methods/stats.py
  backend/src/xfd_django/xfd_api/api_methods/user.py
  backend/src/xfd_django/xfd_api/api_methods/vulnerability.py
  backend/src/xfd_django/xfd_api/auth.py
  backend/src/xfd_django/xfd_api/helpers/elastic_search.py
  backend/src/xfd_django/xfd_api/helpers/email.py
  backend/src/xfd_django/xfd_api/helpers/s3_client.py
  backend/src/xfd_django/xfd_api/helpers/stats_helpers.py
  backend/src/xfd_django/xfd_api/login_gov.py
  backend/src/xfd_django/xfd_api/management/commands/local_scan_execution.py
  backend/src/xfd_django/xfd_api/models.py
  backend/src/xfd_django/xfd_api/tasks/bastion.py
  backend/src/xfd_django/xfd_api/tasks/checkUserExpiration.py
  backend/src/xfd_django/xfd_api/tasks/cveSync.py
  backend/src/xfd_django/xfd_api/tasks/ecs_client.py
  backend/src/xfd_django/xfd_api/tasks/elasticache_tasks.py
  backend/src/xfd_django/xfd_api/tasks/es_client.py
  backend/src/xfd_django/xfd_api/tasks/flagFloatingIps.py
  backend/src/xfd_django/xfd_api/tasks/lambda_client.py
  backend/src/xfd_django/xfd_api/tasks/run_syncdb.py
  backend/src/xfd_django/xfd_api/tasks/scanExecution.py
  backend/src/xfd_django/xfd_api/tasks/scheduler.py
  backend/src/xfd_django/xfd_api/tasks/searchSync.py
  backend/src/xfd_django/xfd_api/tasks/syncdb_helpers.py
  backend/src/xfd_django/xfd_api/tasks/updateScanTaskStatus.py
  backend/src/xfd_django/xfd_api/tasks/vulnSync.py
  backend/src/xfd_django/xfd_api/tests/test_api_key.py
  backend/src/xfd_django/xfd_api/tests/test_domain.py
  backend/src/xfd_django/xfd_api/tests/test_notification.py
  backend/src/xfd_django/xfd_api/tests/test_organization.py
  backend/src/xfd_django/xfd_api/tests/test_proxy.py
  backend/src/xfd_django/xfd_api/tests/test_saved_searches.py
  backend/src/xfd_django/xfd_api/tests/test_scan.py
  backend/src/xfd_django/xfd_api/tests/test_scan_task.py
  backend/src/xfd_django/xfd_api/tests/test_user.py
  backend/src/xfd_django/xfd_api/tests/test_vulnerabilities.py
  backend/src/xfd_django/xfd_api/views.py
  backend/src/xfd_django/xfd_django/asgi.py
  backend/src/xfd_django/xfd_django/docker_events.py
  backend/worker/mitmproxy_sign_requests.py
  backend/worker/worker.py
  setup-env
Labels: backend

#765 Automate creating a postgres user for DB scanning
  backend/env.yml
  backend/src/xfd_django/xfd_api/management/commands/syncdb.py
  backend/src/xfd_django/xfd_api/tasks/syncdb_helpers.py
  dev.env.example
Labels: backend

#733 Fix FilterTag values sorting #732 (CRASM-908)
  frontend/src/pages/Search/FilterTags.tsx
Labels: bug, frontend

#746 Fixed State Select during account creation (CRASM-892)
  backend/src/api/users.ts
  frontend/src/components/Register/UpdateUserStateForm.tsx
Labels: bug, frontend

#747 Severity Level Validation Improvements (CRASM-1057)
  backend/src/api/vulnerabilities.ts
  backend/src/xfd_django/xfd_api/api_methods/vulnerability.py
  backend/src/xfd_django/xfd_api/auth.py
  backend/src/xfd_django/xfd_api/helpers/filter_helpers.py
  backend/src/xfd_django/xfd_api/helpers/stats_helpers.py
  backend/src/xfd_django/xfd_api/tasks/syncdb_helpers.py
  frontend/src/hooks/useDomainApi.ts
  frontend/src/pages/Risk/VulnerabilityBarChart.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: backend, frontend

#741 Refactored FilterTags.tsx to sort filters labels in a predefined order (CRASM-931)
  frontend/src/pages/Search/FilterTags.tsx
Labels: bug, frontend

#775 Allow API Keys to be passed through the Authorization header
  backend/src/xfd_django/xfd_api/auth.py
Labels: backend

#779 Fix Email Sender terraform bug
  infrastructure/email-sender.tf
Labels: backend

#773 SQS Bugs: Use direct PE_API_URL instead of CD proxy
  backend/Dockerfile.pe
  backend/worker/generate_config.sh
  infrastructure/integration.tfvars
  infrastructure/pe_worker.tf
  infrastructure/prod.tfvars
  infrastructure/stage-cd.tfvars
  infrastructure/stage.tfvars
  infrastructure/vars.tf
  infrastructure/worker.tf
Labels: backend
