Repository cisagov/XFD, pull requests merged in 2025-05, with the labels that each got.

#879 Clean up env.yml - Fixes 4KB environment limit on deployment
  backend/env.yml
  backend/src/xfd_django/xfd_api/api_methods/sync.py
  backend/src/xfd_django/xfd_api/tasks/ecs_client.py
  infrastructure/stage.tfvars
Labels: backend

#895 Update .pre-commit-config to sort and deduplicate variables on .tf files CRASM - 2578 and CRASM - 2580
  .pre-commit-config.yaml
  backend/src/xfd_django/xfd_api/tasks/helpers/sixgill_helpers/api.py
  docs/src/documentation-pages/dev/own-instance.md
  hooks/terraform_dedupe_sort.py
  infrastructure/database.tf
  infrastructure/elasticache.tf
  infrastructure/integration.tfvars
  infrastructure/matomo.tf
  infrastructure/pe_worker.tf
  infrastructure/playwright.tf
  infrastructure/worker.tf
Labels: improvement, terraform, python

#915 Develop VS Dashboard
  frontend/src/App.tsx
  frontend/src/components/Dashboard/GraphChip.tsx
  frontend/src/components/Dashboard/InfoLabel.tsx
  frontend/src/components/Dashboard/InfoTooltipIcon.tsx
  frontend/src/components/Dashboard/RoundedTable.tsx
  frontend/src/components/Dashboard/TruncatedLink.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/NavMenuButton.tsx
  frontend/src/components/Logs/Logs.tsx
  frontend/src/components/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
  frontend/src/context/Theme.tsx
  frontend/src/pages/VulnerabilityScanDash/InfoLabel.tsx
  frontend/src/pages/VulnerabilityScanDash/KeyMetrics.tsx
  frontend/src/pages/VulnerabilityScanDash/RiskyOpenServices.tsx
  frontend/src/pages/VulnerabilityScanDash/ScanningSummary.tsx
  frontend/src/pages/VulnerabilityScanDash/SeverityByProminence.tsx
  frontend/src/pages/VulnerabilityScanDash/TopVulnerabilities.tsx
  frontend/src/pages/VulnerabilityScanDash/TopVulnerableHosts.tsx
  frontend/src/pages/VulnerabilityScanDash/VulnerabilityScan.tsx
  frontend/src/pages/VulnerabilityScanDash/index.ts
  frontend/src/pages/VulnerabilityScanDash/infoIconContent.json
  frontend/src/pages/VulnerabilityScanDash/infoKeyMetricsContent.json
  frontend/src/types/vuln-scan-stats.ts
  frontend/src/utils/severityLevelColorMap.ts
  frontend/src/utils/transformVulnScanData.ts
Labels: frontend

#920 Add Playwright Test README for documentation
  playwright/README.md
Labels: documentation
