Repository cisagov/XFD, pull requests merged in 2025-04, with the labels that each got.

#824 CRASM-2286:Add Regression Test Workflow with Dockerized Playwright in AWS
  .github/workflows/regression.yml
  docker-compose.yml
  infrastructure/integration.tfvars
  infrastructure/playwright.tf
  infrastructure/prod.tfvars
  infrastructure/stage-cd.tfvars
  infrastructure/stage.tfvars
  infrastructure/vars.tf
Labels: github_actions, docker

#833 Update ATC-Framework Commit ID to be the Most Recent
  backend/Dockerfile.pe
Labels: backend

#834 CRASM-2286 Fixes to Github Actions
  .github/workflows/regression.yml
Labels: bug, test, github-actions

#838 Regression Testing yaml file fix
  .github/workflows/regression.yml
Labels: bug, github-actions

#839 CRASM-2286-Debugging Github Actions and Terraform for Playwright
  .github/workflows/regression.yml
  infrastructure/integration.tfvars
  infrastructure/playwright.tf
  infrastructure/prod.tfvars
  infrastructure/stage-cd.tfvars
  infrastructure/stage.tfvars
  infrastructure/vars.tf
Labels: bug, github-actions, terraform

#841 AWS Playwright container name change to match Terraform
  .github/workflows/regression.yml
Labels: bug, github-actions

#844 Add command to clone repository into AWS Playwright Container
  .github/workflows/regression.yml
  infrastructure/playwright.tf
Labels: bug, github-actions, terraform

#851 CRASM-2286: Syntax bug fixes
  .github/workflows/regression.yml
Labels: bug, github-actions, terraform

#850 Update image-size to 1.2.1
  frontend/package-lock.json
Labels: dependencies

#843 Update csv export fields and names
  frontend/src/components/DataGrid/CustomToolbar.tsx
  frontend/src/components/Logs/Logs.tsx
  frontend/src/components/OrganizationList/OrganizationList.tsx
  frontend/src/pages/Domains/Domains.tsx
  frontend/src/pages/Organization/OrgMembers.tsx
  frontend/src/pages/Scans/ScanTasksView.tsx
  frontend/src/pages/Users/Users.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: bug

#845 Fixed issue with crashing when accessing user registration as Global View (CRASM-2293)
  backend/src/xfd_django/xfd_api/api_methods/user.py
Labels: bug

#846 Contact Us Email Link Updated (CRASM- 2494)
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
Labels: bug

#842 CRASM-2533: Add sts:AssumeRole to Accessor role
  infrastructure/database.tf
Labels: backend

#836 Fix CWE/CVE External Link (CRASM-1129)
  frontend/src/pages/Vulnerability/Vulnerability.tsx
Labels: frontend

#853 CRASM-2539: Fix local build failure (wheel, setuptools)
  backend/Dockerfile.python
  backend/Dockerfile.worker
Labels: backend

#811 Remove app version number (CRASM-2340)
  frontend/package.json
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
Labels: frontend

#812 Update checkUserExpiration email template signature (CRASM-2341)
  backend/src/xfd_django/xfd_api/tasks/checkUserExpiration.py
Labels: frontend

#848 Create Analytics Admin Role (CRASM-2144)
  backend/src/xfd_django/xfd_api/api_methods/organization.py
  backend/src/xfd_django/xfd_api/api_methods/user.py
  backend/src/xfd_django/xfd_api/auth.py
  backend/src/xfd_django/xfd_api/models.py
  backend/src/xfd_django/xfd_api/schema_models/user.py
  backend/src/xfd_django/xfd_api/views.py
  backend/src/xfd_django/xfd_django/asgi.py
  backend/src/xfd_django/xfd_django/settings.py
  frontend/src/App.tsx
  frontend/src/hooks/useUserLevel.ts
  frontend/src/hooks/useUserTypeFilters.ts
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/Users/UserForm.tsx
  frontend/src/types/user.ts
Labels: improvement, backend

#856 Fix Manage Users logging out RegionalAdmin (CRASM-2538)
  backend/src/xfd_django/xfd_api/api_methods/user.py
Labels: bug, backend

#861 Develop Site Navigation
  frontend/src/components/DomainDetails.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/NavMenuButton.tsx
  frontend/src/components/Header/NavMenuDrawer.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/NavItem.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/components/WarningBanner/Warning.tsx
  frontend/src/components/__tests__/__snapshots__/govBanner.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
  frontend/src/components/__tests__/header.spec.tsx
  frontend/src/components/__tests__/layout.spec.tsx
  frontend/src/components/index.ts
  frontend/src/context/Theme.tsx
  frontend/src/pages/AuthLogin/AuthLogin.tsx
  frontend/src/pages/Search/FilterTags.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
  frontend/src/pages/Vulnerability/Vulnerability.tsx
Labels: frontend
