Repository cisagov/XFD, pull requests merged in 2025-03, with the labels that each got.

#815 Bug fix: Add PW fields to dev env example
  dev.env.example
Labels: bug

#816 CRASM-2285 Create Playwright Container for AWS Fargate
  infrastructure/database.tf
  infrastructure/playwright.tf
  infrastructure/vars.tf
Labels: test, terraform

#817 Improve "No Filter(s) Applied" experience in Overview (CRASM-2279)
  backend/src/xfd_django/xfd_api/api_methods/organization.py
  frontend/src/App.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/__tests__/layout.spec.tsx
  frontend/src/context/FilterDrawerContext.ts
  frontend/src/context/FilterDrawerContextProvider.tsx
  frontend/src/context/index.ts
  frontend/src/pages/Risk/Risk.tsx
  frontend/src/pages/Search/FilterTags.tsx
  frontend/src/pages/Search/Inventory.tsx
Labels: frontend

#825 Change Playwright configuration to have test domain as an environment variable
  dev.env.example
  playwright/global-setup.ts
  playwright/playwright.config.ts
Labels: test, frontend
