Repository cisagov/XFD, pull requests merged in 2025-02, with the labels that each got.

#789 Create Matomo scan user using infra_ops lambda
  backend/env.yml
  backend/requirements.txt
  backend/src/tasks/functions.yml
  backend/src/xfd_django/xfd_api/helpers/infra_helpers.py
  backend/src/xfd_django/xfd_api/management/commands/syncdb.py
  backend/src/xfd_django/xfd_api/tasks/infra_ops.py
  backend/src/xfd_django/xfd_api/tasks/syncdb_helpers.py
Labels: backend

#749 Edited Domain Details Severity Level Formatting (CRASM-1055)
  frontend/src/components/DomainDetails.tsx
Labels: frontend

#740 Fix Side Drawer Advance Filters (CRASM-967)
  backend/src/xfd_django/xfd_api/api_methods/search.py
  backend/src/xfd_django/xfd_api/helpers/elastic_search.py
  backend/src/xfd_django/xfd_api/schema_models/search.py
  backend/src/xfd_django/xfd_api/tasks/searchSync.py
  backend/src/xfd_django/xfd_api/tasks/syncdb_helpers.py
  frontend/src/components/DrawerInterior.tsx
Labels: backend, frontend

#776 Fix reset of filters in Overview (CRASM-1018)
  frontend/src/pages/Risk/Risk.tsx
Labels: frontend

#777 Fixed Title sorting in All Vulns table (CRASM-1019)
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: frontend

#782 Refactored Orgs page for Global View users
  backend/src/xfd_django/xfd_api/api_methods/organization.py
  backend/src/xfd_django/xfd_api/tests/test_organization.py
  frontend/src/pages/Organization/OrgMembers.tsx
  frontend/src/pages/Organization/OrgSettings.tsx
Labels: backend, frontend

#784 Fix Last Logged In column sort in Users page (CRASM-1130)
  frontend/src/pages/Users/Users.tsx
Labels: frontend

#750 Formatted Vuln Details Severity Level (CRASM-1054)
  frontend/src/pages/Vulnerability/Vulnerability.tsx
Labels: frontend

#748 Edited VulnerabilityCard Severity Level Formatting (CRASM-1056)
  frontend/src/pages/Risk/VulnerabilityCard.tsx
Labels: frontend

#796 Added Open/All status toggle to All Vulns table
  backend/src/xfd_django/xfd_api/api_methods/vulnerability.py
  backend/src/xfd_django/xfd_api/schema_models/vulnerability.py
  backend/src/xfd_django/xfd_api/tasks/syncdb_helpers.py
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
  frontend/src/types/query.ts
Labels: backend, frontend

#797 Fix Date ToU Signed in Users table (CRASM-2247)
  backend/src/xfd_django/xfd_api/api_methods/user.py
  backend/src/xfd_django/xfd_api/schema_models/user.py
  frontend/src/pages/Users/Users.tsx
Labels: backend, frontend

#786 Call the syncdb management command inside lambda handler
  backend/src/xfd_django/xfd_api/tasks/run_syncdb.py
Labels: backend

#800 Reset search term with Clear All Filters button (CRASM-2246)
  frontend/src/components/DrawerInterior.tsx
  frontend/src/components/FilterDrawerV2.tsx
  frontend/src/pages/Risk/Risk.tsx
  frontend/src/pages/Search/Inventory.tsx
Labels: frontend

#801 Update deployment version number to 0.3.16 (CRASM-2251)
  frontend/package.json
  frontend/src/components/__tests__/__snapshots__/layout.spec.tsx.snap
Labels: frontend

#799 Update worker image to use python 3.11
  backend/Dockerfile.worker
Labels: backend

#802 Add User Event Logs Functionality
  backend/.pylintrc
  backend/src/xfd_django/xfd_api/api_methods/organization.py
  backend/src/xfd_django/xfd_api/api_methods/user.py
  backend/src/xfd_django/xfd_api/api_methods/user_log_search.py
  backend/src/xfd_django/xfd_api/models.py
  backend/src/xfd_django/xfd_api/schema_models/organization_schema.py
  backend/src/xfd_django/xfd_api/schema_models/user_log_schema.py
  backend/src/xfd_django/xfd_api/tests/test_user_log_search.py
  backend/src/xfd_django/xfd_api/tools/serializers.py
  backend/src/xfd_django/xfd_api/tools/user_logger_decorator.py
  backend/src/xfd_django/xfd_api/views.py
Labels: backend

#787 Convert vs sync scan to save to the mini data lake (CRASM-1064)
  backend/src/xfd_django/xfd_api/api_methods/sync.py
  backend/src/xfd_django/xfd_api/helpers/s3_client.py
  backend/src/xfd_django/xfd_api/schema_models/sync.py
  backend/src/xfd_django/xfd_api/tasks/vulnScanningSync.py
  backend/src/xfd_django/xfd_api/tests/test_sync.py
  backend/src/xfd_django/xfd_api/utils/chunk.py
  backend/src/xfd_django/xfd_api/utils/csv_utils.py
  backend/src/xfd_django/xfd_api/utils/hash.py
  backend/src/xfd_django/xfd_api/utils/scan_utils/vuln_scanning_sync_utils.py
  backend/src/xfd_django/xfd_api/views.py
  backend/src/xfd_django/xfd_django/settings.py
  infrastructure/database.tf
  infrastructure/prod.tfvars
  infrastructure/stage.tfvars
  infrastructure/vars.tf
  infrastructure/worker.tf
Labels: backend

#804 Dockerizing Playwright
  .github/workflows/playwright.yml
  backend/src/xfd_django/xfd_api/tasks/syncdb_helpers.py
  docker-compose.yml
  playwright/axe-test.ts
  playwright/e2e/global-admin/inventory.spec.ts
  playwright/e2e/global-admin/vulnerabilities.spec.ts
  playwright/global-setup.ts
  playwright/package-lock.json
  playwright/package.json
  playwright/playwright.config.ts
Labels: test, docker
