Repository cisagov/XFD, pull requests merged in 2025-07, with the labels that each got.

#989 Remove Sort By and Filter By Details (CRASM 2775/2795/2529)
  frontend/src/pages/Domains/Domains.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: frontend

#997 Retrieve scanned_asset_count from HostSummary: CRASM-2867
  frontend/src/types/vuln-scan-stats.ts
  frontend/src/utils/transformVulnScanData.ts
Labels: bug

#1030 Remove Links from Vulnerabilities Table (CRASM-2510)
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: frontend

#1026 Fix Findings Library Export Results 2764
  frontend/src/pages/Search/Inventory.tsx
Labels: frontend

#1032 Fix URL in Regression.yml
  .github/workflows/regression.yml
Labels: bug, github-actions

#1028 508 Findings Remediation (CRASM-2927)
  frontend/src/components/Header/Header.tsx
  frontend/src/components/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/pages/Domains/Domains.tsx
  frontend/src/pages/Vulnerabilities/Vulnerabilities.tsx
Labels: 508 Compliance
